@CHARSET "UTF-8";
body					{background-color:#eee}
h2					{font-size: 15px;}

#mainDiv 			{background-color:#fff; width:950px;min-height: 700px;
					position:absolute;left:200px; top:50px; padding:25px;}
					
.photo				{background-color:#ffd; padding:2px; margin:5px; float:left;text-align:center;border: 1px solid #AAA; 
					font-size:10px; font-family:Arial;}
.photo a, .photo img	{margin-bottom:10px;}



pre 					{white-space: pre-wrap;       /* css-3 */
				     white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
				     white-space: -pre-wrap;      /* Opera 4-6 */
				     white-space: -o-pre-wrap;    /* Opera 7 */
				     word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/}

	
	/*главного меню: расположение и цвет */
	#mainMenu {position:absolute; left:200px; top:0px; background-color:#eee; width:900px; padding-left:25px;padding-right:25px;z-index:1000}

	/*элементы главного меню*/
	#mainMenu li.top {float: left; width:auto; top:0px; padding-right:30px;}
	
	/*Список: убрать сдвиг li относительно ul,   сделанный для маркеров */
	#mainMenu ul {padding: 0px}
	
	/*Элемент списка*/
	#mainMenu li {display:block;position:relative;white-space:nowrap; width:150px; height:25px; padding-top:5px; padding-left:5px;}
	#mainMenu a {font-weight: bold;}
	
	/*цвета и бордер для элементов меню.*/
	#mainMenu li 				{background-color:#eee;border:1px solid #eee;}/* обычный */
	#mainMenu:hover li		{background-color:#ddd;border:1px solid #ddd;}/* меню активно, элемент не активен */
	#mainMenu:hover li:hover 	{background-color:#ccc;border:1px solid #000;}/* меню активно, элемент АКТИВЕН !!!*/
	
	/*стрелочка в выпадающем списке*/
	#mainMenu li.sub.fly {background-image:url(arrow_black.gif);background-position:140px 13px; background-repeat:no-repeat; }

	/*смещение подменюшек. */
	#mainMenu li ul {position:absolute;}
	#mainMenu li.top ul {left:-1px;top:31px;}
	#mainMenu li.sub ul {left:156px;top:-1px;}

	/*обработка скрытия - показа выпадающих...*/
	#mainMenu li:hover ul,
	#mainMenu li:hover li:hover ul,
	#mainMenu li:hover li:hover li:hover ul,
	#mainMenu li:hover li:hover li:hover li:hover ul,
	#mainMenu li:hover li:hover li:hover li:hover li:hover ul {display:block }

	#mainMenu li ul,
	#mainMenu li:hover li ul,
	#mainMenu li:hover li:hover li ul,
	#mainMenu li:hover li:hover li:hover li ul,
	#mainMenu li:hover li:hover li:hover li:hover li ul {display:none }

	/*в IE  hover не работает, по этому для него не будет такого хорошего меню...  */
	#mainMenuIE ul {margin-left:10px;}
