@CHARSET "UTF-8";
body					{padding-left:200px;background-color:#CCCCCC;}
#menuF				{margin:5px; border-width:1px; border-style:solid;
						padding:10px;	z-index: 100; position: fixed; *position:absolute; overflow:hidden;  
						top: 0px;  left: 0px; 
						*top:expression(			eval(document.compatMode && document.compatMode=="CSS1Compat") 
														? documentElement.scrollTop 
														: document.body.scrollTop);
											} 
.menuActive 			{background-color:#F0F0E0; border-color:black;}
.menuPassive 		{background-color:transparent; border-color:transparent;}

#mainDiv 			{background-color:#FFFAFA; margin:20px; padding:30px; width:850px;
					min-height: 700px;}			
					
.photo				{background-color:#F0F0E0; padding:2px; margin:5px; float:left;text-align:center;border: 1px solid #AAAAAA; 
					font-size:10px; font-family:Arial;}
.photo a, .photo img	{margin-bottom:10px;}



pre 					{white-space: pre-wrap;       /* css-3 */
				     white-space: -moz-pre-wrap;  /* Mozilla, с 1999 */
				     white-space: -pre-wrap;      /* Opera 4-6 */
				     white-space: -o-pre-wrap;    /* Opera 7 */
				     word-wrap: break-word;       /* Internet Explorer 5.5+ поддерживается в IE, Safari, и Firefox 3.1.*/}

