<?xml version="1.0" encoding="utf-8" ?>
<configuration>


	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="Logins" type="System.Configuration.DictionarySectionHandler"/>
		<section name="Sessions" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="Resumes" type="System.Configuration.SingleTagSectionHandler"/>
		<section name="StringConstants" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>

	<system.net>
		<defaultProxy useDefaultCredentials="true"/>
	</system.net>

	<!-- This section contains the log configuration settings -->
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] [%p] - %m%n"/>
			</layout>
		</appender>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" >
			<file value="error.log"/>
			<staticLogFileName value="true"/>
			<appendToFile value="true"/>
			<rollingStyle value="Composite"/>
			<datePattern value="yyyy.MM.dd"/>
			<maximumFileSize value="1MB"/>
			<maxSizeRollBackups value="-1"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d [%t] [%p] - %m%n"/>
			</layout>
		</appender>
		<logger name="FileLog">
			<level value="ALL"/>
			<appender-ref ref="RollingFileAppender"/>
		</logger>
		<logger name="ConsoleLog">
			<level value="ALL"/>
			<appender-ref ref="ConsoleAppender"/>
		</logger>
	</log4net>

	<Logins>
		<add key="login1" value="password"/>
		<add key="login2" value="password"/>
	</Logins>
	<StringConstants>
		<add key="xPathItem" value="/rss/channel/item"/>
		<add key="xPathPubDate" value="pubDate"/>
		<add key="DateFormat" value="ddd, d MMM yyyy H:mm:ss zzz"/>
		<add key="xPathId" value="id"/>
		<add key="xPathIdRegex" value="(?&lt;result&gt;.*)"/>
		<add key="xPathLink" value="link"/>
		<add key="UseRssLink" value="true"/>

		<add key="URI" value="http://hh.ru/"/>
		<add key="GET_RESUME_LIST_URI" value="http://hh.ru/employer/resumesSearch.do?itemsOnPage={0}&amp;areaId=113&amp;professionalAreaId=0&amp;keyword1=&amp;allFields=true&amp;salaryFrom=0&amp;salaryTo=0&amp;gender=&amp;includeNoGender=10&amp;ageFrom=0&amp;ageTo=0&amp;includeNoAge=10&amp;educationId=0&amp;englishLevel=0&amp;frenchLevel=0&amp;germanLevel=0&amp;additionalLanguageLevel=0&amp;additionalLanguageId=0&amp;searchPeriod={1}&amp;orderBy=2&amp;actionSearch=actionSearch&amp;showRss=1&amp;basicLogin=1"/>
		<add key="GET_RESUME_URI" value="http://hh.ru/resume.do?id={0}&amp;baseLogin=1"/>
		<!--
			В дате сначала удаляется подстрока " (MSD)", а после парсится по указанному формату
			========================
			для xml вида
			<rss>
				<channel>
					<item>
						<id>
							123
						</id>
						...
			указывать
				xPathItem = "/rss/channel/item"
				xPathId = "id"
			
			========================
			а для xml вида
			<rss21>
				<Item number="123">
					...
				</Item>
			указывать
				xPathItem = "/rss21/Item"
				xPathId = "@number"

			xPathIdRegex - регулярное выражение для поиска айдишника в строке xPathId
			для строки вида	"12398745"		указать	(?&lt;result&gt;.*)
			для строки вида	"ooooo123ooooo=123456789"		указать	"=(?&lt;result&gt;[0-9][0-9]*)"
		
			==========================
			UseRssLink - может быть true или все что угодно (false)
			если тру - резюме вытягивается по ссылке из rss, по пути указанному в xPathLink
			иначе используется строка GET_RESUME_URI с подстановкой туды ойдишнека.
			==========================
			по дефолту:
				<add key="xPathItem" value="/rss/channel/item"/>
				<add key="xPathPubDate" value="pubDate"/>
				<add key="DateFormat" value="ddd, dd MMM yyyy H:mm:ss zzz"/>
				<add key="xPathId" value="id"/>
				<add key="xPathIdRegex" value="(?&lt;result&gt;.*)"/>
				<add key="xPathLink" value="link"/>
				<add key="UseRssLink" value="true"/>
				<add key="URI" value="http://hh.ru/"/>
				<add key="GET_RESUME_LIST_URI" value="http://hh.ru/employer/resumesSearch.do?itemsOnPage={0}&amp;areaId=113&amp;professionalAreaId=0&amp;keyword1=&amp;allFields=true&amp;salaryFrom=0&amp;salaryTo=0&amp;gender=&amp;includeNoGender=10&amp;ageFrom=0&amp;ageTo=0&amp;includeNoAge=10&amp;educationId=0&amp;englishLevel=0&amp;frenchLevel=0&amp;germanLevel=0&amp;additionalLanguageLevel=0&amp;additionalLanguageId=0&amp;searchPeriod={1}&amp;orderBy=2&amp;actionSearch=actionSearch&amp;showRss=1&amp;basicLogin=1"/>
				<add key="GET_RESUME_URI" value="http://hh.ru/resume.do?id={0}&amp;baseLogin=1"/>
				
		-->
	</StringConstants>

	<Sessions count="5" delayMin="0:0:0.5" delayMax="0:0:3"/>
	<Resumes count="20" filePattern="C:\{0}.html"/>

	<appSettings>
		<add key="AttemptHttpRequestCount" value="5"/>
		<add key="MaxResumeCountInList" value="500"/>
	</appSettings>

</configuration>