<configuration>

	<configSections>
		<section name="OptScannerConfig" type="OptScanner.ConfigHandler, OptScanner"/>
	</configSections>

	<OptScannerConfig>
		<ReaderName Value="Thermo Labsystems Multiscan EX"/>
		<Users>
			<this Value="Аня"/>
			<this Value="Света"/>
			<this Value="Наташа"/>
			<this Value="Юля"/>
		</Users>


		<ComPort>
			<WaitInterval Value="1000"/>
			<ComPortInternal>
				<PortName Value="COM1"/>
				<BaudRate Value="9600"/>
				<DataBits Value="8"/>
				<!--
				None = 0  Стоповые биты не используются. Это значение не поддерживается. При присвоении
				One = 1   Используется один стоповый бит.
				Two = 2   Используются два стоповых бита.
				OnePointFive = 3  Используется 1,5 стоповых бита.-->
				<StopBits Value="2"/>
				<!--
				None = 0 Контроль четности не осуществляется.
				Odd = 1 Устанавливает бит четности так, чтобы число установленных битов всегда было нечетным.
				Even = 2 Устанавливает бит четности так, чтобы число установленных битов всегда было четным.
				Mark = 3 Оставляет бит четности равным 1.
				Space = 4 Оставляет бит четности равным 0.
				-->
				<Parity Value="0"/>
				<ReadTimeout Value="5000"/>
				<WriteTimeout Value="5000"/>
			</ComPortInternal>
		</ComPort>
		<ScanMethod MethodName="При одной длине волны 600" MethodId="Simple600">
			<ScanAction Type="Ask" Text="T" Identity="ScanerTime"/>
			<ScanAction Type="Ask" Text="R"/>
			<ScanAction Type="Ask" Text="E1"/>
			<ScanAction Type="Ask" Text="X1"/>
			<ScanAction Type="Ask" Text="Z15"/>
			<ScanAction Type="Ask" Text="F2"/>
			<ScanAction Type="Matrix" Text="P" Identity="Matrix"/>
			<ScanAction Type="Ask" Text="Q"/>
		</ScanMethod>
		<ScanMethod MethodName="При одной длине волны 450" MethodId="Simple450">
			<ScanAction Type="Ask" Text="T" Identity="ScanerTime"/>
			<ScanAction Type="Ask" Text="R"/>
			<ScanAction Type="Ask" Text="E1"/>
			<ScanAction Type="Ask" Text="X1"/>
			<ScanAction Type="Ask" Text="Z15"/>
			<ScanAction Type="Ask" Text="F1"/>
			<ScanAction Type="Matrix" Text="P" Identity="Matrix"/>
			<ScanAction Type="Ask" Text="Q"/>
		</ScanMethod>
		<ScanMethod MethodName="Вычитание 450 - 600" MethodId="Simple450_600">
			<ScanAction Type="Ask" Text="T" Identity="ScanerTime"/>
			<ScanAction Type="Ask" Text="R"/>
			<ScanAction Type="Ask" Text="E1"/>
			<ScanAction Type="Ask" Text="X1"/>
			<ScanAction Type="Ask" Text="Z15"/>
			<ScanAction Type="Ask" Text="F2"/>
			<ScanAction Type="Matrix" Text="P" Identity="Matrix1"/>
			<ScanAction Type="Ask" Text="F1"/>
			<ScanAction Type="Matrix" Text="P" Identity="Matrix2"/>
			<ScanAction Type="Ask" Text="Q"/>
			<ScanAction Type="MatrixDif" Text="Matrix1,Matrix2" Identity="Matrix"/>
		</ScanMethod>
		<PathFormatter BaseFolder="c:\results\%%UserName%%\" Source="CurrentTime" Format="yyyy\\MM\\dd_HH_mm" Extension=".xls"/>
		<HtmlFormatter>
			<Html>
				<![CDATA[

<html xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 11">
<link rel=File-List href="Книга1.files/filelist.xml">
<link rel=Edit-Time-Data href="Книга1.files/editdata.mso">
<link rel=OLE-Object-Data href="Книга1.files/oledata.mso">
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>NKolomeitsev</o:Author>
  <o:LastAuthor>NKolomeitsev</o:LastAuthor>
  <o:Created>2009-10-12T13:38:01Z</o:Created>
  <o:LastSaved>2009-10-12T13:38:34Z</o:LastSaved>
  <o:Company>Mediatel</o:Company>
  <o:Version>11.9999</o:Version>
 </o:DocumentProperties>
</xml><![endif]-->
<style>
		    table.Matrix  {border-collapse: collapse;}
		    table.Matrix tr {height: 20px}
		    table.Matrix td {width: 70px; background-color:#FFFFCC; border-color:Black; border-width:1px; border-style:solid}

<!--table
	{mso-displayed-decimal-separator:"\,";
	mso-displayed-thousand-separator:" ";}
@page
	{margin:.98in .79in .98in .79in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;}
tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial Cyr";
	mso-generic-font-family:auto;
	mso-font-charset:204;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Обычный;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:windowtext;
	font-size:10.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:"Arial Cyr";
	mso-generic-font-family:auto;
	mso-font-charset:204;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl24
	{mso-style-parent:style0;
	border:.5pt solid windowtext;
	background:yellow;
	mso-pattern:auto none;}
-->
</style>
<!--[if gte mso 9]><xml>
 <x:ExcelWorkbook>
  <x:ExcelWorksheets>
   <x:ExcelWorksheet>
    <x:Name>Лист1</x:Name>
    <x:WorksheetOptions>
     <x:Selected/>
     <x:Panes>
      <x:Pane>
       <x:Number>3</x:Number>
       <x:ActiveRow>8</x:ActiveRow>
       <x:ActiveCol>2</x:ActiveCol>
      </x:Pane>
     </x:Panes>
     <x:ProtectContents>False</x:ProtectContents>
     <x:ProtectObjects>False</x:ProtectObjects>
     <x:ProtectScenarios>False</x:ProtectScenarios>
    </x:WorksheetOptions>
   </x:ExcelWorksheet>
   <x:ExcelWorksheet>
    <x:Name>Лист2</x:Name>
    <x:WorksheetOptions>
     <x:ProtectContents>False</x:ProtectContents>
     <x:ProtectObjects>False</x:ProtectObjects>
     <x:ProtectScenarios>False</x:ProtectScenarios>
    </x:WorksheetOptions>
   </x:ExcelWorksheet>
   <x:ExcelWorksheet>
    <x:Name>Лист3</x:Name>
    <x:WorksheetOptions>
     <x:ProtectContents>False</x:ProtectContents>
     <x:ProtectObjects>False</x:ProtectObjects>
     <x:ProtectScenarios>False</x:ProtectScenarios>
    </x:WorksheetOptions>
   </x:ExcelWorksheet>
  </x:ExcelWorksheets>
  <x:WindowHeight>12150</x:WindowHeight>
  <x:WindowWidth>14220</x:WindowWidth>
  <x:WindowTopX>120</x:WindowTopX>
  <x:WindowTopY>30</x:WindowTopY>
  <x:ProtectStructure>False</x:ProtectStructure>
  <x:ProtectWindows>False</x:ProtectWindows>
 </x:ExcelWorkbook>
</xml><![endif]-->
</head>

<body link=blue vlink=purple>

		<table ><tr><td  colspan="10" ><h1>Результат сканирования</h1></td></tr></table>
		<table ><tr><td  colspan="10" ><h3>%%MethodName%%</h3></td></tr></table>
		
		Описание:<br/>
		<table bgcolor:#ccccaa; ><tr><td  colspan="10" rowspan="7" style="border-style:solid; border-width:1px; border-color:Black">
		<div style="width:500; background-color:#ccccaa; padding:20" ><pre>%%Description%%</pre></div></td></tr></table>
		
		Автор: %%UserName%%<br/>

	<br/><br/>		
		

		%%Matrix%%
	
		на сканере время: %%ScanerTime%%<br/>
		на компьютере время %%CurrentTime%%<br/>
	</body>
</html>

			]]>
			</Html>
		</HtmlFormatter>

	</OptScannerConfig>
</configuration>